/* your custom css */

.fixedHeaderContainer {
    background: #45b7b1;
}

.homeContainer {
    background: #45b7b1;
    color: #0b1f1e;
}

.homeContainer .projectTitle {
    color: #0b1f1e;
}

.headerTitleWithLogo {
    color: rgb(36, 41, 46);
}

.container .wrapper .imageAlignSide p {
    text-align: left;
}

.nav-footer {
    background: #0b1f1e;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a {
        color: rgba(36, 41, 46, 0.8);
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
